{{include 'admin/components/header.html'}}

<style type="text/css">
    .login-layout {
        background: #428bca;
    }

    .login-layout .widget-box {
        background-color: #428bca;
    }

    .login-layout .widget-box .widget-main {
        padding: 26px 16px;
    }

    .login-container {
        padding-top: 80px;
    }

    .header {
        margin-top: 0px;
        padding-bottom: 12px;
    }

    #codeImg {
        cursor: pointer;
        float: right;
    }

    input[name='code'] {
        width: 200px;
        float: left;
    }
</style>

<body class="login-layout">
<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div class="position-relative">
                        <div id="login-box" class="login-box visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h2 class="header blue lighter bigger center">
                                        CMS内容管理系统
                                    </h2>
                                    <div class="space-6"></div>
                                    <div>
                                        <fieldset>
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    <input type="text" class="form-control" placeholder="用户名"
                                                           name="username" id="username"/>
                                                    <i class="icon-user"></i>
                                                </span>
                                            </label>
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    <input type="password" class="form-control" placeholder="密码"
                                                           name="password" id="password"/>
                                                    <i class="icon-lock"></i>
                                                </span>
                                            </label>

                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    <input type="text" class="form-control" placeholder="验证吗"
                                                           name="code" id="code"/>
                                                    <img id="codeImg" src="{{__HOST}}/admin/code"/>
                                                </span>
                                            </label>

                                            <div class="space"></div>

                                            <div class="clearfix">
                                                <label class="inline">
                                                    <input type="checkbox" class="ace"/>
                                                    <span class="lbl"> Remember Me</span>
                                                </label>

                                                <button id="loginBtn" type="button"
                                                        class="width-35 pull-right btn btn-sm btn-primary">
                                                    <i class="icon-key"></i>
                                                    登录
                                                </button>
                                            </div>
                                            <div class="space-4"></div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{include 'admin/components/footer.html'}}
<script>
    //获取图形验证码
    $("#codeImg").click(function () {
        $("#codeImg").attr('src', '{{__HOST}}/admin/code?t=' + new Date().getTime());
    })
    $('#loginBtn').click(function () {
        if ($("#username").val().trim() === '' || $("#password").val().trim() === '') {
            Ewin.alert({title: '温馨提示', message: '用户名或者密码不能为空'});
            return false;
        } else if ($("#code").val().trim() === '') {
            Ewin.alert({title: '温馨提示', message: '验证码不能为空'});
            return false;
        }
        $.ajax({
            url: "{{__HOST}}/admin/doLogin",
            data: {
                username: $('#username').val(),
                password: $('#password').val(),
                code: $('#code').val()
            },
            type: "post",    //数据发送方式
            error: function () {
                alert("服务器没有返回数据，可能服务器忙，请重试");
            },
            success: function (res) {
                if (res.code === 1) {
                    location.href = '/admin';
                } else {
                    Ewin.alert({title: '温馨提示', message: res.msg});
                }
            }
        });
    })
</script>