<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <!-- <meta content="width=640, user-scalable=no, target-densitydpi=device-dpi" name="viewport"> -->
    <!-- <meta name="apple-mobile-web-app-capable" content="yes" /> -->
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta http-equiv="expires" content="0">
    <!-- basic styles -->
    <link href="{{__HOST}}/admin/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{__HOST}}/admin/css/font-awesome.min.css"/>
    <!-- fonts -->
    <link rel="stylesheet" href="{{__HOST}}/admin/css/ace.min.css"/>
    <link rel="stylesheet" href="{{__HOST}}/admin/css/ace-rtl.min.css"/>
    <link rel="stylesheet" href="{{__HOST}}/admin/css/ace-skins.min.css"/>

    <script src='{{__HOST}}/admin/js/jquery-1.10.2.min.js'></script>
    <script src="{{__HOST}}/admin/js/bootstrap.min.js"></script>
    <!-- ace scripts -->
    <title>后台管理系统登录</title>
</head>